MQTT_UDP_MQTT
[{"id":"f22c5ae.5606728","type":"tab","label":"Project","disabled":false,"info":""},{"id":"21e39117.389eb6","type":"inject","z":"f22c5ae.5606728","name":"Group13","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"group\":\"Group13\",\"ipaddress\":\"159.146.90.40\",\"port\":\"1025\"}","payloadType":"str","x":220,"y":120,"wires":[["f58a4f3b.39db9","7432e7df.02ef","f7a78496.853e8","3baaf382.18e654","ac438104.45068"]]},{"id":"d25bb4d3.c9668","type":"udp in","z":"f22c5ae.5606728","name":"UDP_in","iface":"","port":"1025","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":130,"y":480,"wires":[["8234e179.042ad"]]},{"id":"8234e179.042ad","type":"json","z":"f22c5ae.5606728","name":"","property":"payload","action":"str","pretty":false,"x":290,"y":480,"wires":[["ef056f84.9ed97"]]},{"id":"ef056f84.9ed97","type":"function","z":"f22c5ae.5606728","name":"Check Message and Type","func":"var msgerror={payload:\"\",error:\"\"};\nmsg.payload=String(msg.payload);\nif(msg.payload==\"incoming mqtt response to 159.146.90.40\"){\n    return [msg, null];\n}\nelse if(msg.payload==\"incoming udp response to 159.146.90.40\"){\n    return [null, null];\n}\nelse{\n    msgerror.payload=msg.payload;\n    msgerror.error=\"Wrong message type\";\n    msgerror.time = new Date();\n    return [null, msgerror];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":500,"y":480,"wires":[["baecdcaa.6c116","ce3a5f.acbaeda","a05b1209.05034"],["239fac62.bc7bec","4d5e5f6f.779608","ea17a3b0.b1cff8"]]},{"id":"f58a4f3b.39db9","type":"mqtt out","z":"f22c5ae.5606728","name":"MQTT_out","topic":"incoming","qos":"1","retain":"","broker":"a3439baa.867858","x":990,"y":120,"wires":[]},{"id":"57de7db6.0ee33c","type":"udp out","z":"f22c5ae.5606728","name":"UDP_out","addr":"iot.theergenc.com","iface":"","port":"1025","ipv":"udp4","outport":"1025","base64":false,"multicast":"false","x":1320,"y":440,"wires":[]},{"id":"baecdcaa.6c116","type":"change","z":"f22c5ae.5606728","name":"udpsender_Group13","rules":[{"t":"delete","p":"_msgid","pt":"msg"},{"t":"delete","p":"ip","pt":"msg"},{"t":"delete","p":"port","pt":"msg"},{"t":"delete","p":"fromip","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"group\":\"Group13\",\"ipaddress\":\"159.146.90.40\",\"port\":\"1025\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":440,"wires":[["bbd53767.a7e68","57de7db6.0ee33c"]]},{"id":"981666f7.7cdc48","type":"debug","z":"f22c5ae.5606728","name":"MQTT_UDP_rtime","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"elapsed.millis","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":200,"wires":[]},{"id":"66381f52.3a22b8","type":"function","z":"f22c5ae.5606728","name":"Lost or Delayed Message and Resend","func":"var msgerror={error:\"\"};\n\nif(msg.elapsed.millis > 2000){\n    \n    msgerror.error=\"Delayed or lost package(2s)\";\n    msgerror.time = new Date();\n    return [msgerror, msgerror];\n    \n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":540,"y":600,"wires":[["ea17a3b0.b1cff8"],["83864cb8.501ef"]]},{"id":"83864cb8.501ef","type":"link out","z":"f22c5ae.5606728","name":"","links":["71955cf3.d82344","c79980be.08ff"],"x":735,"y":620,"wires":[]},{"id":"ea17a3b0.b1cff8","type":"change","z":"f22c5ae.5606728","name":"mqttresender_Group13","rules":[{"t":"delete","p":"_msgid","pt":"msg"},{"t":"delete","p":"error","pt":"msg"},{"t":"delete","p":"time","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"group\":\"Group13\",\"ipaddress\":\"159.146.90.40\",\"port\":\"1025\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":600,"wires":[["b84ace3b.330a68","20eadc16.9ea4f4"]]},{"id":"750e1744.b09e8","type":"file","z":"f22c5ae.5606728","name":"errorlog_MQTT_UDP","filename":"/home/mx/Documents/errorlog_MQTT_UDP.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1280,"y":520,"wires":[[]]},{"id":"e304c9a5.ca5fb","type":"link out","z":"f22c5ae.5606728","name":"","links":["134c9e35.034412","f1bedee9.7e747","31326b9a.c5806c"],"x":1095,"y":280,"wires":[]},{"id":"134c9e35.034412","type":"link in","z":"f22c5ae.5606728","name":"","links":["e304c9a5.ca5fb"],"x":355,"y":600,"wires":[["66381f52.3a22b8"]]},{"id":"20eadc16.9ea4f4","type":"mqtt out","z":"f22c5ae.5606728","name":"MQTT_out","topic":"incoming","qos":"1","retain":"","broker":"a3439baa.867858","x":1290,"y":600,"wires":[]},{"id":"89192611.b20e5","type":"change","z":"f22c5ae.5606728","name":"reset","rules":[{"t":"set","p":"command","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":260,"wires":[["5ebd4bf0.c1038c"]]},{"id":"fdc39a65.b4c958","type":"mqtt in","z":"f22c5ae.5606728","name":"MQTT_in","topic":"udpresponse","qos":"1","datatype":"utf8","broker":"a3439baa.867858","x":140,"y":1060,"wires":[["6e26515c.a3b76"]]},{"id":"6e26515c.a3b76","type":"json","z":"f22c5ae.5606728","name":"","property":"payload","action":"str","pretty":false,"x":290,"y":1060,"wires":[["b2866715.263d8"]]},{"id":"b2866715.263d8","type":"function","z":"f22c5ae.5606728","name":"Check and Error","func":"var msgerror={payload:\"\",error:\"\"};\nmsg.payload=String(msg.payload);\nif(msg.payload==\"incoming udp response to 159.146.90.40\"){\n    return [msg, null];\n}\n\nelse{\n    msgerror.payload=msg.payload;\n    msgerror.error=\"Wrong message type\";\n    msgerror.time = new Date();\n    return [null, msgerror];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":490,"y":1060,"wires":[["e2846971.11a0f","674f81b4.01c588","ba163186.f098e8","9a34cdbd.9069d"],["32d5a50e.2aea1a"]]},{"id":"1c363f22.6e6651","type":"function","z":"f22c5ae.5606728","name":"Lost Message and Resend","func":"var msgerror={error:\"\"};\n\nif(msg.elapsed.millis > 2000){\n    \n    msgerror.error=\"Delayed or lost package(2s)\";\n    msgerror.time = new Date();\n    return [msgerror, msgerror];\n    \n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":480,"y":1140,"wires":[["32d5a50e.2aea1a"],["237dbdfb.103fca"]]},{"id":"c79980be.08ff","type":"link in","z":"f22c5ae.5606728","name":"","links":["83864cb8.501ef","a021ee2b.c2569","b2b4efa9.131fb8","239fac62.bc7bec"],"x":955,"y":520,"wires":[["4d5e5f6f.779608"]]},{"id":"bbd53767.a7e68","type":"link out","z":"f22c5ae.5606728","name":"","links":["402fe54c.51e02c","233c7198.410a5e"],"x":1195,"y":440,"wires":[]},{"id":"402fe54c.51e02c","type":"link in","z":"f22c5ae.5606728","name":"","links":["bbd53767.a7e68"],"x":95,"y":840,"wires":[["30401438.ed1e94"]]},{"id":"fde02eb2.361538","type":"link out","z":"f22c5ae.5606728","name":"","links":["81f17933.0ca118"],"x":875,"y":840,"wires":[]},{"id":"81f17933.0ca118","type":"link in","z":"f22c5ae.5606728","name":"","links":["fde02eb2.361538"],"x":295,"y":1140,"wires":[["1c363f22.6e6651"]]},{"id":"5ebd4bf0.c1038c","type":"hourglass","z":"f22c5ae.5606728","name":"MQTT_UDP","persistId":"4","humanizeLocale":"","x":930,"y":280,"wires":[["e304c9a5.ca5fb","35607103.cfe09e","981666f7.7cdc48"]]},{"id":"7432e7df.02ef","type":"change","z":"f22c5ae.5606728","name":"reset","rules":[{"t":"set","p":"command","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":240,"wires":[["5ebd4bf0.c1038c"]]},{"id":"ce3a5f.acbaeda","type":"change","z":"f22c5ae.5606728","name":"stop","rules":[{"t":"set","p":"command","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":360,"wires":[["5ebd4bf0.c1038c"]]},{"id":"35607103.cfe09e","type":"function","z":"f22c5ae.5606728","name":"formatData","func":"var data = msg.elapsed.millis;\nvar time = new Date();\nvar tosend = {time:time, data:data}; \nmsg.payload = tosend; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":280,"wires":[["92287924.e6f4a8"]]},{"id":"92287924.e6f4a8","type":"file","z":"f22c5ae.5606728","name":"message_time_log_MQTT_UDP","filename":"/home/mx/Documents/message_time_log_MQTT_UDP.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1460,"y":280,"wires":[[]]},{"id":"80df62.b8a6a0a","type":"hourglass","z":"f22c5ae.5606728","name":"UDP_MQTT","persistId":"4","humanizeLocale":"","x":730,"y":840,"wires":[["fde02eb2.361538","ad2d7a45.b0e4c8","bba2d61f.6db0d"]]},{"id":"239fac62.bc7bec","type":"link out","z":"f22c5ae.5606728","name":"","links":["c79980be.08ff"],"x":715,"y":520,"wires":[]},{"id":"f7a78496.853e8","type":"change","z":"f22c5ae.5606728","name":"start","rules":[{"t":"set","p":"command","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":200,"wires":[["5ebd4bf0.c1038c"]]},{"id":"a05b1209.05034","type":"change","z":"f22c5ae.5606728","name":"status","rules":[{"t":"set","p":"command","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":320,"wires":[["5ebd4bf0.c1038c"]]},{"id":"3baaf382.18e654","type":"trigger","z":"f22c5ae.5606728","name":"Watchdog","op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"2","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":430,"y":280,"wires":[["e3dfcf92.5af7a"]]},{"id":"e3dfcf92.5af7a","type":"change","z":"f22c5ae.5606728","name":"status","rules":[{"t":"set","p":"command","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":300,"wires":[["5ebd4bf0.c1038c","89192611.b20e5"]]},{"id":"b84ace3b.330a68","type":"link out","z":"f22c5ae.5606728","name":"","links":["abf4211f.52952","b0ecc088.0b00a","71c648a9.1d5de"],"x":1155,"y":600,"wires":[]},{"id":"abf4211f.52952","type":"link in","z":"f22c5ae.5606728","name":"","links":["b84ace3b.330a68"],"x":655,"y":220,"wires":[["f7a78496.853e8","7432e7df.02ef"]]},{"id":"b0ecc088.0b00a","type":"link in","z":"f22c5ae.5606728","name":"","links":["b84ace3b.330a68"],"x":315,"y":280,"wires":[["3baaf382.18e654"]]},{"id":"4d5e5f6f.779608","type":"function","z":"f22c5ae.5606728","name":"formatErrorData","func":"\nvar error = msg.error;\nvar time = msg.time;\nvar tosend = {time:time, error:error}; \nmsg.payload = tosend;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":520,"wires":[["750e1744.b09e8"]]},{"id":"1b99d47d.f0f08c","type":"change","z":"f22c5ae.5606728","name":"reset","rules":[{"t":"set","p":"command","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":820,"wires":[["80df62.b8a6a0a"]]},{"id":"343693cc.29e4c4","type":"change","z":"f22c5ae.5606728","name":"reset","rules":[{"t":"set","p":"command","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":800,"wires":[["80df62.b8a6a0a"]]},{"id":"674f81b4.01c588","type":"change","z":"f22c5ae.5606728","name":"stop","rules":[{"t":"set","p":"command","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":920,"wires":[["80df62.b8a6a0a"]]},{"id":"164cf08a.9457af","type":"change","z":"f22c5ae.5606728","name":"start","rules":[{"t":"set","p":"command","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":760,"wires":[["80df62.b8a6a0a"]]},{"id":"ba163186.f098e8","type":"change","z":"f22c5ae.5606728","name":"status","rules":[{"t":"set","p":"command","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":880,"wires":[["80df62.b8a6a0a"]]},{"id":"efb72159.96d06","type":"change","z":"f22c5ae.5606728","name":"status","rules":[{"t":"set","p":"command","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":860,"wires":[["1b99d47d.f0f08c","80df62.b8a6a0a"]]},{"id":"30401438.ed1e94","type":"trigger","z":"f22c5ae.5606728","name":"Watchdog","op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"2","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":250,"y":840,"wires":[["efb72159.96d06"]]},{"id":"cbdf524a.72bff8","type":"file","z":"f22c5ae.5606728","name":"incoming_message_log","filename":"/home/mx/Documents/incoming_message_log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1130,"y":1040,"wires":[[]]},{"id":"af6cd7b.72f4928","type":"link in","z":"f22c5ae.5606728","name":"","links":["abdd7768.3333a","237dbdfb.103fca"],"x":775,"y":1200,"wires":[["266b081e.c0502"]]},{"id":"237dbdfb.103fca","type":"link out","z":"f22c5ae.5606728","name":"resend_UDP","links":["af6cd7b.72f4928"],"x":635,"y":1180,"wires":[]},{"id":"ff11358a.0f20e8","type":"file","z":"f22c5ae.5606728","name":"message_time_log_UDP_MQTT","filename":"/home/mx/Documents/message_time_log_UDP_MQTT.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1240,"y":840,"wires":[[]]},{"id":"ad2d7a45.b0e4c8","type":"function","z":"f22c5ae.5606728","name":"formatData","func":"var data = msg.elapsed.millis;\nvar time = new Date();\nvar tosend = {time:time, data:data}; \nmsg.payload = tosend; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":840,"wires":[["ff11358a.0f20e8"]]},{"id":"bba2d61f.6db0d","type":"debug","z":"f22c5ae.5606728","name":"UDP_MQTT_rtime","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"elapsed.millis","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":780,"wires":[]},{"id":"32d5a50e.2aea1a","type":"function","z":"f22c5ae.5606728","name":"formatErrorData","func":"\nvar error = msg.error;\nvar time = msg.time;\nvar tosend = {time:time, error:error}; \nmsg.payload = tosend;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1100,"wires":[["c7e0d5ec.f71ad"]]},{"id":"c7e0d5ec.f71ad","type":"file","z":"f22c5ae.5606728","name":"errorlog_UDP_MQTT","filename":"/home/mx/Documents/errorlog_UDP_MQTT.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1120,"y":1100,"wires":[[]]},{"id":"e2846971.11a0f","type":"function","z":"f22c5ae.5606728","name":"formatErrorData","func":"\nvar payload = msg.payload;\nvar time = msg.time;\nvar tosend = {time:time, payload:payload}; \nmsg.payload = tosend;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1040,"wires":[["cbdf524a.72bff8"]]},{"id":"6712e9fc.5a496","type":"comment","z":"f22c5ae.5606728","name":"MQTT_UDP Communication","info":"","x":740,"y":60,"wires":[]},{"id":"bc1419b9.b6ada8","type":"comment","z":"f22c5ae.5606728","name":"UDP_MQTT Communication","info":"","x":740,"y":700,"wires":[]},{"id":"ac438104.45068","type":"debug","z":"f22c5ae.5606728","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":120,"wires":[]},{"id":"233c7198.410a5e","type":"link in","z":"f22c5ae.5606728","name":"","links":["bbd53767.a7e68"],"x":455,"y":780,"wires":[["164cf08a.9457af","343693cc.29e4c4"]]},{"id":"266b081e.c0502","type":"change","z":"f22c5ae.5606728","name":"udpresender_Group13","rules":[{"t":"delete","p":"_msgid","pt":"msg"},{"t":"delete","p":"ip","pt":"msg"},{"t":"delete","p":"port","pt":"msg"},{"t":"delete","p":"fromip","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"group\":\"Group13\",\"ipaddress\":\"159.146.90.40\",\"port\":\"1025\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1200,"wires":[["1c7662a6.830d65"]]},{"id":"1c7662a6.830d65","type":"udp out","z":"f22c5ae.5606728","name":"UDP_out","addr":"iot.theergenc.com","iface":"","port":"1025","ipv":"udp4","outport":"1025","base64":false,"multicast":"false","x":1140,"y":1200,"wires":[]},{"id":"7dc16e7a.9a23e8","type":"inject","z":"f22c5ae.5606728","name":"Group13","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"group\":\"Group13\",\"ipaddress\":\"159.146.90.40\",\"port\":\"1025\"}","payloadType":"str","x":540,"y":360,"wires":[["a05b1209.05034","ce3a5f.acbaeda"]]},{"id":"9a34cdbd.9069d","type":"debug","z":"f22c5ae.5606728","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":980,"wires":[]},{"id":"a3439baa.867858","type":"mqtt-broker","z":"","name":"iot","broker":"iot.theergenc.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
