MQTT
[{"id":"ce209e74.959e3","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"db7ac66a.661c2","type":"inject","z":"ce209e74.959e3","name":"Group13","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"group\":\"Group13\",\"ipaddress\":\"159.146.90.40\",\"port\":\"1025\"}","payloadType":"str","x":400,"y":180,"wires":[["7b61c0d0.ba8898","58e127ce.2f2a","b45414a6.611be"]]},{"id":"7b61c0d0.ba8898","type":"change","z":"ce209e74.959e3","name":"start","rules":[{"t":"set","p":"command","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":220,"wires":[["97e0bd74.3b376"]]},{"id":"58e127ce.2f2a","type":"change","z":"ce209e74.959e3","name":"reset","rules":[{"t":"set","p":"command","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":280,"wires":[["97e0bd74.3b376"]]},{"id":"23a2642a.d3c06c","type":"change","z":"ce209e74.959e3","name":"stop","rules":[{"t":"set","p":"command","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":360,"wires":[["97e0bd74.3b376","edb98ee9.f35358"]]},{"id":"edb98ee9.f35358","type":"change","z":"ce209e74.959e3","name":"status","rules":[{"t":"set","p":"command","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":360,"wires":[["97e0bd74.3b376"]]},{"id":"97e0bd74.3b376","type":"hourglass","z":"ce209e74.959e3","name":"MQTT_rtime","persistId":"1","humanizeLocale":"","x":910,"y":280,"wires":[["1566d548.81833b","b1bfd7de.c9c1e8"]]},{"id":"1566d548.81833b","type":"debug","z":"ce209e74.959e3","name":"MQTT_response_time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"elapsed.millis","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":280,"wires":[]},{"id":"b45414a6.611be","type":"mqtt out","z":"ce209e74.959e3","name":"MQTT_out","topic":"incoming","qos":"2","retain":"","broker":"a3439baa.867858","x":1050,"y":180,"wires":[]},{"id":"837e223e.2a804","type":"mqtt in","z":"ce209e74.959e3","name":"MQTT_in","topic":"outgoing","qos":"2","datatype":"utf8","broker":"a3439baa.867858","x":160,"y":420,"wires":[["1bb86561.5b3113"]]},{"id":"c304fe2c.31b728","type":"function","z":"ce209e74.959e3","name":"parser","func":"msg.payload=String(msg.payload)\nif(msg.payload==\"incoming mqtt response to 159.146.90.40\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":420,"wires":[["23a2642a.d3c06c","c3c0b2d9.fcdf1"]]},{"id":"1bb86561.5b3113","type":"json","z":"ce209e74.959e3","name":"","property":"payload","action":"str","pretty":false,"x":290,"y":420,"wires":[["c304fe2c.31b728"]]},{"id":"c3c0b2d9.fcdf1","type":"debug","z":"ce209e74.959e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":420,"wires":[]},{"id":"b1bfd7de.c9c1e8","type":"function","z":"ce209e74.959e3","name":"formatData","func":"var data = msg.elapsed.millis;\nvar tosend = {data:data}; \nmsg.payload = tosend; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":380,"wires":[["54046044.bb8018"]]},{"id":"54046044.bb8018","type":"file","z":"ce209e74.959e3","name":"response_time_MQTT.txt","filename":"/home/mx/Documents/response_time_MQTT.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1250,"y":380,"wires":[[]]},{"id":"a3439baa.867858","type":"mqtt-broker","z":"","name":"iot","broker":"iot.theergenc.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
