UDP
[{"id":"ea6c04ea.84ea78","type":"tab","label":"UDP","disabled":false,"info":""},{"id":"84131941.f299b","type":"inject","z":"ea6c04ea.84ea78","name":"Group13","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"group\":\"Group13\",\"ipaddress\":\"XXX.XXX.XXX.XXX\",\"port\":\"1025\"}","payloadType":"str","x":380,"y":120,"wires":[["e0c55429.3396c8","ed7261a.d17ffa","cf8db112.aeb5d8"]]},{"id":"e0c55429.3396c8","type":"udp out","z":"ea6c04ea.84ea78","name":"UDP_out","addr":"iot.theergenc.com","iface":"","port":"1025","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1000,"y":120,"wires":[]},{"id":"ed7261a.d17ffa","type":"change","z":"ea6c04ea.84ea78","name":"start","rules":[{"t":"set","p":"command","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":160,"wires":[["c0840536.cd9e"]]},{"id":"cf8db112.aeb5d8","type":"change","z":"ea6c04ea.84ea78","name":"reset","rules":[{"t":"set","p":"command","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":220,"wires":[["c0840536.cd9e"]]},{"id":"d4fff3f1.3c4be","type":"change","z":"ea6c04ea.84ea78","name":"stop","rules":[{"t":"set","p":"command","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":360,"wires":[["c0840536.cd9e","9e73eedf.7af828"]]},{"id":"9e73eedf.7af828","type":"change","z":"ea6c04ea.84ea78","name":"status","rules":[{"t":"set","p":"command","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":360,"wires":[["c0840536.cd9e"]]},{"id":"c0840536.cd9e","type":"hourglass","z":"ea6c04ea.84ea78","name":"UDP_rtime","persistId":"2","humanizeLocale":"","x":830,"y":220,"wires":[["b340cf0b.04cc7","4d167f6c.529488"]]},{"id":"b340cf0b.04cc7","type":"debug","z":"ea6c04ea.84ea78","name":"UDP_response_time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"elapsed.millis","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":220,"wires":[]},{"id":"7f3940b6.fa718","type":"inject","z":"ea6c04ea.84ea78","name":"reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"reset","payloadType":"str","x":370,"y":220,"wires":[["cf8db112.aeb5d8"]]},{"id":"fb889124.1b5cd8","type":"inject","z":"ea6c04ea.84ea78","name":"ManuelStop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"a","payloadType":"str","x":390,"y":300,"wires":[["d4fff3f1.3c4be"]]},{"id":"fd1cdcdc.147148","type":"udp in","z":"ea6c04ea.84ea78","name":"","iface":"","port":"1025","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":120,"y":360,"wires":[["801fd734.866968"]]},{"id":"48025cea.774604","type":"function","z":"ea6c04ea.84ea78","name":"parser","func":"if(msg.payload==\"incoming udp response to 95.70.184.250\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":360,"wires":[["d4fff3f1.3c4be"]]},{"id":"801fd734.866968","type":"json","z":"ea6c04ea.84ea78","name":"","property":"payload","action":"str","pretty":false,"x":290,"y":360,"wires":[["48025cea.774604"]]},{"id":"4d167f6c.529488","type":"function","z":"ea6c04ea.84ea78","name":"formatData","func":"var data = msg.elapsed.millis;\nvar tosend = {data:data}; \nmsg.payload = tosend; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":300,"wires":[["d7d18784.92b8c8"]]},{"id":"d7d18784.92b8c8","type":"file","z":"ea6c04ea.84ea78","name":"response_time_UDP.txt","filename":"/home/mx/Documents/response_time_UDP.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1170,"y":300,"wires":[[]]}]
